<div class="today_date">
 	today: <%=@today%>
</div>
<div class="change_day">
	<%= form_tag({:action => :input}, {:method => :get}) do %>
	 	<%= date_select :dsp_date, :date %>
	 	<%= submit_tag "change day"%>
	<% end %>
</div>
<hr>
<div class="input_field">
	<%= form_for @roster_db ,:url => {:action => :update} do |f| %>
		<div class="input_date">
		 	<h1>date: <%= @record_date.to_s%></h1>
	    	<%= f.hidden_field :record_date, value: @record_date %>
	    </div>
		<div class="input_time">
	    	<%= f.time_field :working_start %>
	    	<%= f.label :working_start %>
	    </div>
	    <div class="input_time">
	    	<%= f.time_field :end_working %>
	    	<%= f.label :EndWorking %>
	    </div>
	    <div class="input_element">
	    	<%= f.text_area :work_description, :size => "40x5"%>
	    	<%= f.label :description %>
	    </div>
	  	<div class="input_element">
	    	<%= f.submit %>
		</div>
	<% end %>
</div>
