<h1>today: <%=@today%> date:<%= @record.record_date%></h1>
<%= form_for(@record) do |f| %>
  <div class="field">
    <%= f.text_field :working_start %>
    <%= f.text_field :end_working %>
    <%= f.text_field :work_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


