<h1>today: <%=@today%> date:<%= @roster_db.record_date%></h1>
<%= form_for(@roster_db) do |f| %>
	<div class="field">
      	<div class="field_ele">
        	<%= f.label :StartWorking %>
          	<%= f.text_field :working_start %>
      	</div>
      	<div class="field_ele">
      		<%= f.label :EndWorking %>
    		<%= f.text_field :end_working %>
      	</div>
      	<div class="field_ele">
      	    <%= f.label :description %>
      	    <%= f.text_area :work_description, :size => "20x10"%>
      	</div>
 	</div>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>


